{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid text-center top-container">
        <img src="static/images/rucsac.jpg">
        <br/><br/>

        
        {% for post in quizzes() %}
                <table class="center">
                <tr><td>Question 1: {{ post.question1 }}</td><td></td></tr>
                <tr><td><form action="{{url_for('quizsubmitwp')}}" method="POST">
                <fieldset id="group1">
                <input type="radio" name="options1" value="a" required> a: {{ post.a }} <br>
                <input type="radio" name="options1" value="b"> b: {{ post.b }} <br>
                <input type="radio" name="options1" value="c"> c: {{ post.c }} <br>
                <input type="radio" name="options1" value="d"> d: {{ post.d }} <br>
                </td></tr></table><br></fieldset>

                <table class="center">
                <tr><td>Question 2: {{ post.question2 }}</td><td></td></tr>
                <tr><td><fieldset id="group2">
                <input type="radio" name="options2" value="e" required> a: {{ post.e }} <br>
                <input type="radio" name="options2" value="f"required> b: {{ post.f }} <br>
                <input type="radio" name="options2" value="g"> c: {{ post.g }} <br>
                <input type="radio" name="options2" value="h"> d: {{ post.h }} <br>
                </td></tr></table><br></fieldset>

                <table class="center">
                <tr><td>Question 3: {{ post.question3 }}</td><td></td></tr>
                <tr><td><fieldset id="group3">
                <input type="radio" name="options3" value="i" required>  a: {{ post.i }} <br>
                <input type="radio" name="options3" value="j"> b: {{ post.j }} <br>
                <input type="radio" name="options3" value="k"> c: {{ post.k }} <br>
                <input type="radio" name="options3" value="l"> d: {{ post.l }} <br>
                </td></tr></table><br></fieldset>

                <table class="center">
                <tr><td>Question 4: {{ post.question4 }}</td><td></td></tr>
                <tr><td><fieldset id="group4">
                <input type="radio" name="options4" value="m" required>  a: {{ post.m }} <br>
                <input type="radio" name="options4" value="n"> b: {{ post.n }} <br>
                <input type="radio" name="options4" value="o"> c: {{ post.o }} <br>
                <input type="radio" name="options4" value="p"> d: {{ post.p }} <br>
                </td></tr></table><br></fieldset>

                <table class="center">
                <tr><td>Question 5: {{ post.question5 }}</td><td></td></tr>
                <tr><td><fieldset id="group5">
                <input type="radio" name="options5" value="q" required>  a: {{ post.q }} <br>
                <input type="radio" name="options5" value="r"> b: {{ post.r }} <br>
                <input type="radio" name="options5" value="s"> c: {{ post.s }} <br>
                <input type="radio" name="options5" value="t"> d: {{ post.t }} <br>
                </td></tr></table><br></fieldset>

                <table class="center">
                <tr><td>Question 6: {{ post.question6 }}</td><td></td></tr>
                <tr><td><fieldset id="group6">
                <input type="radio" name="options6" value="u" required>  a: {{ post.u }} <br>
                <input type="radio" name="options6" value="v"> b: {{ post.v }} <br>
                <input type="radio" name="options6" value="w"> c: {{ post.w }} <br>
                <input type="radio" name="options6" value="x"> d: {{ post.x }} <br>
                </td></tr></table><br></fieldset>
                    

                <table class="center">
                <tr><td>Question 7: {{ post.question7 }}</td><td></td></tr>
                <tr><td><fieldset id="group7">
                <input type="radio" name="options7" value="y" required>  a: {{ post.y }} <br>
                <input type="radio" name="options7" value="z"> b: {{ post.z }} <br>
                <input type="radio" name="options7" value="aa"> c: {{ post.aa }} <br>
                <input type="radio" name="options7" value="ab"> d: {{ post.ab }} <br>
                </td></tr></table><br></fieldset>

                {% if table_name == "tt": %}

                <table class="center">
                <tr><td>Question 8: {{ post.question8 }}</td><td></td></tr>
                <tr><td><fieldset id="group8">
                <input type="radio" name="options8" value="ac" required>  a: {{ post.ac }} <br>
                <input type="radio" name="options8" value="ad"> b: {{ post.ad }} <br>
                <input type="radio" name="options8" value="ae"> c: {{ post.ae }} <br>
                <input type="radio" name="options8" value="af"> d: {{ post.af }} <br>
                </td></tr></table><br></fieldset>

                <table class="center">
                <tr><td>Question 9: {{ post.question9 }}</td><td></td></tr>
                <tr><td><fieldset id="group9">
                <input type="radio" name="options9" value="ag" required>  a: {{ post.ag }} <br>
                <input type="radio" name="options9" value="ah"> b: {{ post.ah }} <br>
                <input type="radio" name="options9" value="ai"> c: {{ post.ai }} <br>
                <input type="radio" name="options9" value="aj"> d: {{ post.aj }} <br>
                </td></tr></table><br></fieldset>

                <table class="center">
                <tr><td>Question 10: {{ post.question10 }}</td><td></td></tr>
                <tr><td><fieldset id="group10">
                <input type="radio" name="options10" value="ak" required>  a: {{ post.ak }} <br>
                <input type="radio" name="options10" value="al"> b: {{ post.al }} <br>
                <input type="radio" name="options10" value="am"> c: {{ post.am }} <br>
                <input type="radio" name="options10" value="an"> d: {{ post.an }} <br>
                <input type="hidden" name="table_name" value="tt">
                </td></tr></table><br></fieldset>

                {% endif %}

                <button>Check Answers</button>

            </form>
                <br/>

        {% endfor %}

            </div>

{% endblock %}